/.vppp
/practice.ipynb
01_crawling/02_html_crawling_basic.ipynb
.gitignore
01_crawling/08_02_reference_stringcodes.ipynb
01_crawling/source
01_crawling/09_final_project.ipynb
01_crawling/Crawling_Final_Result.xlsx
02_flask/source/raw
02_flask/10_mysql_mongodb.ipynb
03_project_flask/control/__pycache__
03_project_flask/model/__pycache__
03_project_flask/view/__pycache__
/04_FastAPI/source/raw
04_FastAPI/__pycache__
01_crawling/06_crawling_excel copy.ipynb
01_crawling/tmp_1.xlsx
04_FastAPI/09_jinja_baisc/my_project/__pycache__
04_FastAPI/09_jinja_baisc/template_project/__pycache__
.DS_Store
04_FastAPI/.DS_Store
04_FastAPI/11_sqlalchemy_basic/defining_database_model/__pycache__
04_FastAPI/12_async/__pycache__
